{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href={{ url_for('static', filename='css/overview.css') }} />
{% endblock %}

{% block content %}
<div class="container overview-header">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Goals</h1>
            <h4>Saving for something? Add it here and we'll track how you're going</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="/user/overview" class="list-group-item">Overview</a>
                <a class="list-group-item disabled">Goals</a>
                <a href="#" class="list-group-item">Spending</a>
                <a href="#" class="list-group-item">Transactions</a>
            </div>
        </div>
        <div class="col-md-8"">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tr>
                            <th>Title</th>
                            <th>Price</th> 
                            <th>By</th>
                        </tr>
                        {% for goal in goals %}
                        <tr>
                            <td>{{ goal.title }}</td>
                            <td>{{ goal.price }}</td>
                            <td>{{ goal.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default">Default</button>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary">Default</button>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-success">Default</button>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-info">Default</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
